apiVersion: v1
kind: ReplicationController
metadata:
  name: heapster
  namespace: kube-system
  labels:
    k8s-app: heapster
    kubernetes.io/cluster-service: "true"
    version: v1.0.2
    kubernetes-admin.caicloud.io/type: application
    kubernetes-admin.caicloud.io/application: heapster
spec:
  replicas: 1
  selector:
    k8s-app: heapster
  template:
    metadata:
      labels:
        k8s-app: heapster
        kubernetes.io/cluster-service: "true"
        version: v1.0.2
        kubernetes-admin.caicloud.io/application: heapster
        kubernetes-admin.caicloud.io/type: application
    spec:
      containers:
        - image: {{ heapster_image_heapster }}
          name: heapster
          imagePullPolicy: Always
          resources:
            # keep request = limit to keep this container in guaranteed class
            limits:
              cpu: 100m
              memory: {{ metrics_memory }}
            requests:
              cpu: 100m
              memory: {{ metrics_memory }}
          command:
            - /heapster
            - --source=kubernetes.caicloud:''
            - --sink=influxdb:http://monitoring-influxdb:8086?withfields=true
            - --metric_resolution=60s
            - --processors=kubernetes.caicloud
        - image: {{ heapster_image_heapster }}
          name: eventer
          imagePullPolicy: Always
          resources:
            # keep request = limit to keep this container in guaranteed class
            limits:
              cpu: 100m
              memory: {{ eventer_memory }}
            requests:
              cpu: 100m
              memory: {{ eventer_memory }}
          command:
            - /eventer
            - --source=kubernetes:''
            - --sink=influxdb:http://monitoring-influxdb:8086
