{
  "global": {
    "accessKeyID": "{{ access_key_id }}",
    "accessKeySecret": "{{ access_key_secret }}",
    "regionID": "{{ region_id }}",
    "zoneID": "{{ zone_id }}"
  },
  "loadBalancer": {
    "addressType": "{{ slb_address_type }}"
  },
  "endpoints": {
    "ecsEndpoint": "{{ ecs_endpoint }}",
    "slbEndpoint": "{{ slb_endpoint }}"
  }
}