apiVersion: v1
kind: PersistentVolume
metadata:
  name: addon-manager-mongo-data
  labels:
    caicloud-app: addon-manager-mongo-data
    caicloud.io/cluster-service: "true"
    addon-manager.caicloud.io/name: addon-manager-master
    addon-manager.caicloud.io/version: v0.0.1
    addon-manager.caicloud.io/key: master-mongo-pv
spec:
  capacity:
    storage: 4096Mi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ nfs_server }}
    path: "/addon-manager-mongo"
