apiVersion: v1
kind: ReplicationController
metadata:
  name: addon-manager-minion-v0.0.1
  namespace: kube-system
  labels:
    k8s-app: addon-manager-minion
    kubernetes.io/cluster-service: "true"
    kubernetes-admin.caicloud.io/application: addon-manager-minion-v0.0.1
    kubernetes-admin.caicloud.io/type: application
    addon-manager.caicloud.io/name: addon-manager
    addon-manager.caicloud.io/version: v0.0.1
    addon-manager.caicloud.io/key: minion-rc
    version: v0.0.1
spec:
  replicas: 1
  selector:
    k8s-app: addon-manager-minion
    version: v0.0.1
  template:
    metadata:
      labels:
        k8s-app: addon-manager-minion
        kubernetes.io/cluster-service: "true"
        kubernetes-admin.caicloud.io/application: addon-manager-minion-v0.0.1
        kubernetes-admin.caicloud.io/type: application
        version: v0.0.1
    spec:
      containers:
      - image: {{ addon_manager_minion_image }}
        imagePullPolicy: Always
        name: addon-manager-minion
        resources:
          limits:
            cpu: 1000m
            memory: 200Mi
          requests:
            cpu: 100m
            memory: 100Mi
        env:
        - name: MASTER_URL
          value: {{ addon_manager_master_url }}
        - name: ADDON_YAML_PATH
          value: "/etc/kubernetes"
        - name: IN_CLUSTER
          value: "{{ false }}"
        - name: ADDON_TYPE
          value: kube_system
        - name: CLUSTER_ID
          value: {{ cluster_id }}
        - name: USER_ID
          value: {{ caicloud_uid }}
        - name: ACCESS_TOKEN
          value: {{ cluster_token }}
        - name: OWN_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OWN_NAME
          value: addon-manager-minion-v0.0.1
        - name: GROUP_NAME
          value: addon-manager
        volumeMounts:
        - name: kube-system-yaml
          mountPath: "/etc/kubernetes"
      volumes:
      - name: kube-system-yaml
        emptyDir: {}
