apiVersion: v1
kind: ReplicationController
metadata:
  namespace: "kube-system"
  name: "ingress-loadbalancer-controller"
  labels:
    k8s-app: ingress-loadbalancer-controller
    kubernetes.io/cluster-service: "true"
    kubernetes-admin.caicloud.io/type: application
    kubernetes-admin.caicloud.io/application: ingress-loadbalancer-controller
spec:
  replicas: 1
  selector:
    k8s-app: ingress-loadbalancer-controller
    kubernetes.io/cluster-service: "true"
    kubernetes-admin.caicloud.io/type: application
    kubernetes-admin.caicloud.io/application: ingress-loadbalancer-controller
  template:
    metadata:
      labels:
        k8s-app: ingress-loadbalancer-controller
        kubernetes.io/cluster-service: "true"
        kubernetes-admin.caicloud.io/type: application
        kubernetes-admin.caicloud.io/application: ingress-loadbalancer-controller
    spec:
      containers:
      - image: {{ ingress_loadbalancer_controller_image }}
        imagePullPolicy: "Always"
        name: "loadbalancer-claim-controller"
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 100Mi
        env:
        - name: INGRESS_KEEPALIVED_IMAGE
          value: {{ ingress_keepalived_image }}
        - name: INGRESS_NGINX_IMAGE
          value: {{ ingress_nginx_image }}
