description "conf-watcher service"
author "@keontang"

respawn

# make sure we keep respawn for sometime
respawn limit 600 30

start on (local-filesystems and runlevel [2345])
stop on runlevel [016]

limit nofile 65536 65536

script
    CONF_WATCHER=/usr/bin/$UPSTART_JOB
    exec "$CONF_WATCHER" --watchlist-dir={{ cw_watchlist_dir }}
end script