apiVersion: v1
kind: ReplicationController
metadata:
  name: elasticsearch-logging-v1
  namespace: kube-system
  labels:
    k8s-app: elasticsearch-logging
    version: v1
    kubernetes.io/cluster-service: "true"
    kubernetes-admin.caicloud.io/type: application
    kubernetes-admin.caicloud.io/application: elasticsearch-logging-v1
spec:
  replicas: {{ elasticsearch_replicas }}
  selector:
    k8s-app: elasticsearch-logging
    version: v1
  template:
    metadata:
      labels:
        k8s-app: elasticsearch-logging
        version: v1
        kubernetes.io/cluster-service: "true"
        kubernetes-admin.caicloud.io/application: elasticsearch-logging-v1
        kubernetes-admin.caicloud.io/type: application
    spec:
      containers:
      - image: {{ elasticsearch_image_elasticsearch }}
        name: elasticsearch-logging
        resources:
          # keep request = limit to keep this container in guaranteed class
          limits:
            cpu: 800m
            memory: 1.5Gi
          requests:
            cpu: 300m
            memory: 1Gi
        ports:
        - containerPort: 9200
          name: db
          protocol: TCP
        - containerPort: 9300
          name: transport
          protocol: TCP
        volumeMounts:
        - name: es-persistent-storage
          mountPath: /data
      - image: {{ elasticsearch_image_escron }}
        name: crontab-curator
        env:
          - name: CURATOR_TIME_UNIT
            value: "days"
          - name: CURATOR_OLDER_THAN
            value: "7"
          - name: SCHEDULE_INTERVAL
            value: "every().day"
          - name: HOST_ADDR
            value: "localhost"
        resources:
          limits:
            cpu: 50m
            memory: 50Mi
          requests:
            cpu: 5m
            memory: 5Mi
      volumes:
      - name: es-persistent-storage
        emptyDir: {}
