apiVersion: v1
kind: ReplicationController
metadata:
  name: kibana-logging-v1
  namespace: kube-system
  labels:
    k8s-app: kibana-logging
    version: v1
    kubernetes.io/cluster-service: "true"
    kubernetes-admin.caicloud.io/application: kibana-logging-v1
    kubernetes-admin.caicloud.io/type: application
spec:
  replicas: {{ kibana_replicas }}
  selector:
    k8s-app: kibana-logging
    version: v1
  template:
    metadata:
      labels:
        k8s-app: kibana-logging
        version: v1
        kubernetes.io/cluster-service: "true"
        kubernetes-admin.caicloud.io/application: kibana-logging-v1
        kubernetes-admin.caicloud.io/type: application
    spec:
      containers:
      - name: kibana-logging
        image: {{ kibana_image }}
        resources:
          # keep request = limit to keep this container in guaranteed class
          limits:
            cpu: 200m
            memory: 250Mi
          requests:
            cpu: 100m
            memory: 50Mi
        env:
          - name: "ELASTICSEARCH_URL"
            value: "http://elasticsearch-logging:9200"
        ports:
        - containerPort: 5601
          name: ui
          protocol: TCP
