{
    "name": "calico-k8s-network",
    "type": "calico",
    "etcd_endpoints": "{{ etcd_endpoints }}",
    "log_level": "info",
    "kubernetes": {
        "kubeconfig": "/etc/kubernetes/kubelet.kubeconfig"
    },
    "ipam": {
        "type": "calico-ipam",
        "subnet": "{{ calico_subnet }}/{{ calico_prefix }}"
    },
    "policy": {
        "type": "k8s"
    }
}
