[Unit]
After=docker.service
Requires=docker.service
Description=calico is a pure Layer 3 approach to virtual networking

[Service]
EnvironmentFile={{ calicoctl_config_dir }}/calicoctl
ExecStartPre=-/usr/bin/docker rm -f calico-node
ExecStart={{ bin_dir }}/calicoctl $CALICOCTL_OPTS
ExecStop=-/usr/bin/docker stop calico-node
Restart=always

[Install]
WantedBy=multi-user.target
