apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-proxy
    image: index.caicloud.io/caicloud/hyperkube:{{ hyperkube_version }}
    imagePullPolicy: Always
    resources:
      requests:
        cpu: 100m
        # Add this because we set resourcequotas and remove limitranges
        memory: 10Mi
    command:
    - /hyperkube
    - proxy
    - --proxy-mode=iptables
    - --master=https://{{ hostvars[inventory_hostname]['internal_ip'] }}:{{ kube_master_api_port }}
    - --hostname-override={{ inventory_hostname }}
    - --kubeconfig={{ kube_config_dir }}/kube-proxy.kubeconfig
    - --v={{ kube_log_level }}
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /etc/kubernetes
      name: etckube
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ssl-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: /etc/kubernetes
    name: etckube
  - hostPath:
      path: /usr/share/ca-certificates
    name: ssl-certs-host
