apiVersion: v1
kind: Pod
metadata:
  name: {{ load_balancer_name }}
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: lb-haproxy
    image: {{ load_balancer_haproxy_image }}
    resources:
      requests:
        # Add this because we set resourcequotas and remove limitranges
        cpu: 10m
        memory: 10Mi
    command:
    - /usr/local/sbin/haproxy
    - -f
    - /etc/haproxy/haproxy.cfg
    - -p
    - /run/haproxy.pid
    ports:
    - containerPort: {{ load_balancer_stats_port }}
      hostPort: {{ load_balancer_stats_port }}
      name: http
    - containerPort: {{ load_balancer_port }}
      hostPort: {{ load_balancer_port }}
      name: https
    volumeMounts:
    - mountPath: /etc/haproxy/haproxy.cfg
      name: haproxycfg
      readOnly: true
    - mountPath: /etc/kubernetes
      name: etckube
      readOnly: true
{% if use_keepalived %}
  - name: lb-keepalived
    image: {{ load_balancer_keepalived_image }}
    resources:
      requests:
        # Add this because we set resourcequotas and remove limitranges
        cpu: 10m
        memory: 10Mi
    command:
    - keepalived
    - --log-console
    - --dont-fork
    - -f
    - /etc/keepalived/keepalived.conf
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /etc/keepalived
      name: etckeepalived
      readOnly: true
{% endif %}
  volumes:
  - hostPath:
      path: /etc/kubernetes
    name: etckube
  - hostPath:
      path: /etc/haproxy/haproxy.cfg
    name: haproxycfg
{% if use_keepalived %}
  - hostPath:
      path: /etc/keepalived
    name: etckeepalived
{% endif %}
