{%- set get_masters = [] -%}
{%- for host in groups['masters'] -%}
{{ get_masters.append(hostvars[host]['ansible_user'] + ':' + hostvars[host]['ansible_ssh_pass'] + '@' + hostvars[host]['internal_ip']) }}
{%- endfor -%}
{%- set get_nodes = [] -%}
{%- for host in groups['nodes'] -%}
{{ get_nodes.append(hostvars[host]['ansible_user'] + ':' + hostvars[host]['ansible_ssh_pass'] + '@' + hostvars[host]['internal_ip']) }}
{%- endfor -%}
apiVersion: batch/v1
kind: Job
metadata:
  name: caicloud-self-hosted
spec:
  template:
    metadata:
      name: caicloud-self-hosted
    spec:
      containers:
      - name: self-hosted
        image: {{ caicloud_self_hosted_image }}
        imagePullPolicy: Always
        command: ["./self-hosted.sh", "{{ cluster_name }}", "{{ kubernetes_provider }}", "{{ get_masters|join(',') }}", "{{ get_nodes|join(',') }}", "{{ dns_host_name }}", "{{ base_domain_name }}", "{{ cluster_token }}", "{{ kube_pwd }}", "true", "{{ caicloud_admin_user }}", "{{ caicloud_admin_password }}"]
      restartPolicy: Never
#   para_01:  cluster_name      eg. caicloud-stack
#   para_02:  provider          eg. caicloud-baremetal
#   para_03:  master_ssh        eg. "vagrant:vagrant@192.168.10.109,vagrant:vagrant@192.168.10.121"
#   para_04:  node_ssh:         eg. "vagrant:vagrant@192.168.10.110,vagrant:vagrant@192.168.10.122"
#   para_05:  dns_hostname      eg. caicloud-stack
#   para_06:  base_domain_name  eg. caicloudprivatetest.com
#   para_07:  cluster_token     eg. eSbsyAr2eDatXBxa
#   para_08:  kube_pwd          eg. 7EJncehPDHdVI0kJ
#     note: kube_user must be admin
#   para_09:  controlcluster    eg. true
#   para_10:  admin_user        eg: admin
#   para_11:  admin_user_passwd eg: Pwd123456
