[masters]
kubernetes-master ansible_host=192.168.205.10 ansible_user=vagrant ansible_ssh_pass=vagrant internal_ip=192.168.205.10

[etcd]
kubernetes-master ansible_host=192.168.205.10 ansible_user=vagrant ansible_ssh_pass=vagrant internal_ip=192.168.205.10

[nodes]
kubernetes-node-1 ansible_host=192.168.205.11 ansible_user=vagrant ansible_ssh_pass=vagrant internal_ip=192.168.205.11
kubernetes-node-2 ansible_host=192.168.205.12 ansible_user=vagrant ansible_ssh_pass=vagrant internal_ip=192.168.205.12
