[Unit]
Description=Etcd Server Events
After=network.target

[Service]
Type=notify
WorkingDirectory={{ etcd_events_dir }}
EnvironmentFile=-{{ etcd_config_dir }}/etcd-server-events.conf
ExecStart={{ bin_dir }}/etcd \
        $ETCD_GENERAL_OPTIONS \
        $ETCD_CLUSTER_OPTIONS \
        $ETCD_PROXY_OPTIONS \
        $ETCD_SECURITY_OPTIONS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
