{% macro initial_cluster() -%}
{% for host in groups[etcd_peers_group] -%}
  {{ hostvars[host]['ansible_hostname'] }}={{ etcd_peer_url_scheme }}://{{ hostvars[host]['internal_ip'] }}:{{ etcd_peer_port }}
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}

#[general]
{% set general_options = [] -%}
{% if groups[etcd_peers_group] and groups[etcd_peers_group] | length > 0 -%}
{{ general_options.append('--name=' + ansible_hostname)|default('', true) -}}
{% else -%}
{{ general_options.append('--name=default')|default('', true) -}}
{% endif -%}
{{ general_options.append('--data-dir=' + etcd_data_dir)|default('', true) -}}

ETCD_GENERAL_OPTIONS="{{ general_options|join(' ') }}"


#[cluster]
{% set cluster_options = [] -%}
{% if groups[etcd_peers_group] and groups[etcd_peers_group] | length > 0 -%}
{{ cluster_options.append('--initial-advertise-peer-urls=' + etcd_initial_advertise_peer_urls)|default('', true) -}}
{{ cluster_options.append('--initial-cluster=' + initial_cluster())|default('', true) -}}
{{ cluster_options.append('--initial-cluster-state=' + etcd_initial_cluster_state)|default('', true) -}}
{{ cluster_options.append('--initial-cluster-token=' + etcd_initial_cluster_token)|default('', true) -}}
{% endif -%}
{{ cluster_options.append('--listen-peer-urls=' + etcd_listen_peer_urls)|default('', true) -}}
{{ cluster_options.append('--advertise-client-urls=' + etcd_advertise_client_urls)|default('', true) -}}
{{ cluster_options.append('--listen-client-urls=' + etcd_listen_client_urls)|default('', true) -}}

ETCD_CLUSTER_OPTIONS="{{ cluster_options|join(' ') }}"


#[proxy]
{% set proxy_options = [] -%}
{{ proxy_options.append('--proxy=off')|default('', true) -}}

ETCD_PROXY_OPTIONS="{{ proxy_options|join(' ') }}"


#[security]
{% set security_options = [] -%}
{% if etcd_url_scheme == 'https' -%}
{{ security_options.append('--ca-file=' + etcd_ca_file)|default('', true) -}}
{{ security_options.append('--cert-file=' + etcd_cert_file)|default('', true) -}}
{{ security_options.append('--key-file=' + etcd_key_file)|default('', true) -}}
{% endif -%}
{% if etcd_peer_url_scheme == 'https' -%}
{{ security_options.append('--peer-ca-file=' + etcd_peer_ca_file)|default('', true) -}}
{{ security_options.append('--peer-cert-file=' + etcd_peer_cert_file)|default('', true) -}}
{{ security_options.append('--peer-key-file=' + etcd_peer_key_file)|default('', true) -}}
{% endif -%}

ETCD_SECURITY_OPTIONS="{{ security_options|join(' ') }}"
