[Unit]
Description=Etcd Server
After=network.target

[Service]
Type=notify
WorkingDirectory={{ etcd_data_dir }}
EnvironmentFile=-{{ etcd_config_dir }}/etcd.conf
ExecStart={{ bin_dir }}/etcd
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
